body {
  background-color: #e9c46a;
  font-family: sans-serif;
}

h1 {
  color: #264653;
  font-size: 3em;
}

h2 {
  color: #2a9d8f;
  font-weight: normal;
  font-style: italic;

}

.completed {
  font-size: 12px;
}

#tasks .completed {
  background: #f4a261;
  text-decoration: underline;
  color: #264653;
}

p {
  color: #264653;
}
